@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --font-jost: 'Jost', sans-serif;
}

body {
  @apply font-jost ;
  background-color: var(--color-background-1);
}

/* variables theme dark */
:root {
  --color-background-1: #ffffff;
  --color-background-2: #fcfeff;
  --color-text: #505050;
  --color-main: #7fb8ee;
  --color-main-2: #dae8f4;
}

.dark {
  --color-background-1: #161f27;
  --color-background-2: #1d2a34;
  --color-text: #ffffff;
  --color-main: #7fb8ee;
  --color-main-2: #253541;
}