@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-jost: 'Jost', sans-serif;
}

body {
  @apply font-jost;
  background-color: var(--color-background-1);
}

/* variables theme dark */
:root {
  --color-background-1: #ffffff;
  --color-background-2: #fafafc;
  --color-text: #505050;
  --color-main: #467db0;
  --color-main-2: #dae8f4;
}

.dark {
  --color-background-1: #161f27;
  --color-background-2: #1d2a34;
  --color-text: #ffffff;
  --color-main: #7fb8ee;
  --color-main-2: #253541;
}
